.bottomButtons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    bottom: 40px;
}
.bottomButtons .replay{
    padding: 3vw !important;
    color: palevioletred;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}
.bottomButtons .close{
    padding: 3vw !important;
    color: red;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}
.bottomButtons .star{
    padding: 3vw !important;
    color: yellow;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}
.bottomButtons .favorite{
    padding: 3vw !important;
    color: green;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}
.bottomButtons .local{
    padding: 3vw !important;
    color: orangered;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
}